.QuizList{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: #0e9c9f;
    color: #fff;
}

.QuizList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.QuizList ul li {
    margin-bottom: 10px;
}
.QuizList li a {
    text-decoration: none;
    color: #fff;
}
.QuizList li a:hover{
    color: #3f3f54;
}