.Quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: rgba(54, 87, 190, 0.79);
}
.Quiz h1 {
  color: #fff;
  margin-left: 10px;
}
.QuizWrap {
  width: 600px;
}
